.vsCodeEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  width: 100%;
}

.vsCodeEditorHeaderContainer {
  display: flex;
}

.vsCodeEditorHeader {
  align-items: center;
  background-color: var(--vscode-editor-color);
  border-right: 1px solid var(--vscode-border-color);
  border-top: 1px solid var(--vscode-accent-color);
  display: flex;
  font-size: 13px;
  gap: 8px;
  height: 30px;
  padding-left: 12px;
  padding-right: 30px;
  text-wrap: nowrap;
  width: fit-content;
}

.vsCodeEditorContent {
  background-color: var(--vscode-editor-color);
  border-radius: 0 0 12px;
  height: 830px;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: none; /* Firefox */
  width: 100%;
}

.vsCodeEditorContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.vsCodeEditorContent img {
  height: auto;
  max-width: 50vw;
}

.vsCodeProjectTitleContainer {
  align-items: center;
  border-bottom: 1px solid var(--vscode-secondary-border-color);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 30px 50px 20px;
}

.vsCodeProjectTitle {
  display: flex;
  font-size: var(--markdown-header-font-size);
  font-weight: bold;
  grid-column: 2;
  padding-bottom: 10px;
}

.vsCodeEditorBorder {
  border-bottom: 1px solid #282828;
  display: flex;
  width: 100%;
}

.vsCodeHandwrittenNote {
  font-family: PastaWineLittle, cursive;
  font-size: 30px;
  grid-column: 3;
  justify-self: end;
  opacity: 0.55;
  text-align: right;
}

.vsCodeProjectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.vsCodeProjectBadges {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.vsCodeProjectDescription {
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1.5;
  margin-top: 10px;
}

.vsCodeProjectMoreDetails {
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1.5;
}

.vsCodeProjectImage {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

.vsCodeProjectLink {
  color: var(--vscode-accessible-link-color);
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-top: 10px;
}

.vsCodeProjectLink:hover {
  color: var(--vscode-font-color);
}
