p{
    margin-top: 10px;
}

.librarian-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.librarian-img{
    padding: 25px;
}

.librarian-header{
    font-weight: 700;
}

.demo-link{
    display: flex;
    justify-content: center;
    color: #9db86d;
    font-weight: 700;
}

.demo-link a{
    color: #9db86d;
}

.sidebar-nav{
    font-weight: 700;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    margin-left: 30px;
}

.sidebar-nav a{
    text-decoration: none;
    color: #faf7f2;
}

.sidebar-nav a:hover{
    color: #9db86d;
}

/* Small size screens */
@media only screen and (max-width: 575px) {
    .librarian-title{
        font-size: 20px;
    }

    .librarian-header{
        font-size: 20px;
        margin-top: 25px;
    }

    .demo-link{
        font-size: 10px;
    }

    p, .footer{
        font-size: 12px;
    }
}

/* Medium size screens and bigger */
@media only screen and (min-width: 768px) {
    .librarian-title{
        font-size: 30px;
    }

    .librarian-header{
        font-size: 30px;
        margin-top: 50px;
    }

    .demo-link{
        font-size: 20px;
    }
}